form(action="http://localhost:8080/quize" method="get" style="border: 1px solid blue; width: 500px; margin:0 auto; padding: 20px")
    h1 The Number Quize
    p  Your current score is #{ user.score } out of 5.
    p  #{ question }
    label Your answer: 
    input(type="hidden", name="id" value= user.id )
    input(type="hidden", name="questionID" value= questionID )
    input(type="hidden", name="score" value= user.score )    
    input(type="text", name="answer")
    input(type="submit", value="Submit")