div(style="border: 1px solid blue; width: 500px; margin:0 auto; padding: 20px")
    h1 The Number Quize
    p  Your current score is #{ score }.
    p  You have completed the Number Quiz, whit a score of #{ score } out of 5. 
    a(href="http://localhost:8080/") Repeat Again
